<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Online Restaurant System</display-name>
 
  <servlet>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddFoodServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFoodServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListFoodServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GetEmployeeServlet</servlet-name>
    <url-pattern>/GetEmployeeServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ListFoodServlet</servlet-name>
    <url-pattern>/ListFoodServlet</url-pattern>
  </servlet-mapping>
 
 
  <welcome-file-list>
    <welcome-file>homeView.html</welcome-file>
    <welcome-file>homeView.htm</welcome-file>
    <welcome-file>homeView.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>